In [ ]:
#Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.966422  0.036705  0.864090  0.545106
1  0.392254  0.771650  0.052906  0.813661
2  0.667415  0.564750  0.031938  0.124948
3  0.938794  0.588909  0.426344  0.466295

In [ ]:
#Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df = df.rename(columns={'Feature1':'Random Value 1', 'Feature2':'Random Value 2', 'Feature3':'Random Value 3', 'Feature4':'Random Value 4'})
print(df)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.966422        0.036705        0.864090        0.545106
1        0.392254        0.771650        0.052906        0.813661
2        0.667415        0.564750        0.031938        0.124948
3        0.938794        0.588909        0.426344        0.466295

In [ ]:
#Find the descriptive statistics of the 'df' dataframe.

In [ ]:
stats = df.describe()
print(stats)

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.741221        0.490504        0.343819        0.487503
std          0.268934        0.316319        0.391320        0.283780
min          0.392254        0.036705        0.031938        0.124948
25%          0.598625        0.432739        0.047664        0.380958
50%          0.803104        0.576829        0.239625        0.505701
75%          0.945701        0.634594        0.535780        0.612245
max          0.966422        0.771650        0.864090        0.813661

In [ ]:
#Check for the null values in 'df' and find the data type of the columns.

In [ ]:
null_values = df.isnull()

data_types = df.dtypes

print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Null Values:
   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Data Types:
Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

In [ ]:
#Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
loc_columns = df.loc[:, ['Random Value 2', 'Random Value 3']]
print("Columns using loc:")
print(loc_columns)

iloc_columns = df.iloc[:, [1, 2]]
print("\nColumns using iloc:")
print(iloc_columns)

Columns using loc:
   Random Value 2  Random Value 3
0        0.036705        0.864090
1        0.771650        0.052906
2        0.564750        0.031938
3        0.588909        0.426344

Columns using iloc:
   Random Value 2  Random Value 3
0        0.036705        0.864090
1        0.771650        0.052906
2        0.564750        0.031938
3        0.588909        0.426344